**/*.cache
**/*.props
**/*.pdb
**/*.dll
**/*.dtbcache
**/*.ide
**/*.suo
**/*.user

**/bin/**
**/obj/**

**/.idea/**
**/.vs/**

**/*.Xlsx

**/*.db
**/*.db-shm
**/*.db-wal

/Infrastructure/rabbit-mq/data
/Infrastructure/rabbit-mq/logs

/Infrastructure/mongo/mongo-data/db

/Infrastructure/ms-sql-data
